@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /*overflow: hidden;*/
}

@mixin container-mobile($mobile-width: 26.75rem) {
  padding-left: 2rem;
  padding-right: 2rem;
  width: $mobile-width;
  margin: 0 auto;
}

$color-secondary-text: #555555;
$color-h6: #ff3998;
$color-primary-text: #111111;
$regular-padding-bottom-mobile: 1.5rem;

body {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  header {
    @include container-mobile;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      gap: 0.3rem;
      span {
        background-color: #999999;
        height: 0.25rem;
        width: 1.5rem;
        border-radius: 0.5625rem;
      }
    }
  }
  .sign-up {
    @include container-mobile;
    padding-top: 4rem;
    padding-right: 7.625rem;
    padding-bottom: 5rem;
    background-image: url(assets/graphic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 190px -20px;

    h6 {
      color: $color-h6;
      font-size: 1rem;
      letter-spacing: 0.0938rem;
      font-weight: bolder;
    }
    h1 {
      font-size: 2.8rem;
      font-weight: bolder;
      font-size: 42px;
      padding: $regular-padding-bottom-mobile 0;
      color: $color-primary-text;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: $color-secondary-text;
      padding-bottom: $regular-padding-bottom-mobile;
    }
    .sign-button {
      width: 11.4rem;
      height: 4.5rem;
      border-radius: 40px;
      background: white;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 555;
        border-radius: inherit;
        background: linear-gradient(
          45deg,
          rgb(194, 28, 209),
          red,
          orange,
          rgb(197, 178, 69)
        );
      }
      button {
        position: absolute;
        width: 10.9rem;
        height: 4rem;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 666;
        border-radius: inherit;
        background: white;
        border: none;
        margin: 4px;
        font-size: larger;
        text-align: center;
        vertical-align: center;
        font-weight: 500px;
      }
    }
  }
  .free-nft {
    @include container-mobile;
    color: $color-primary-text;
    display: flex;
    height: 19rem;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 30px;
    padding-bottom: $regular-padding-bottom-mobile;
    background: linear-gradient(75deg, #ff7784, #eb9457, #d3c393);
    h2 {
      font-weight: lighter;
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
  }
  .companies {
    @include container-mobile;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    grid-template-areas: 'Boomerang Blimp' 'qrco Droplet';
    row-gap: 1.5rem;
    column-gap: 4.4rem;

    .Blimp {
      grid-area: Blimp;
    }
    .qrco {
      grid-area: qrco;
    }
    .Droplet {
      grid-area: Droplet;
    }
    .OpenDoor {
      display: none;
    }
    .Boomerang {
      grid-area: Boomerang;
      overflow: hidden;
    }
  }
  .auction {
    @include container-mobile;
    padding-bottom: 50px;
    overflow: hidden;
    h2 {
      font-size: 2.5rem;
      font-weight: lighter;
    }
    p {
      font-size: 1.1rem;
      padding: 15px 0 30px;
      color: #555555;
      line-height: 1.5;
      a {
        color: #3e3a3a;
      }
    }
    .auction-items {
      display: flex;
      gap: 2.5rem;
      .item {
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
        border-radius: 20px;

        .img-container {
          max-height: 16.6rem;
          overflow: hidden;
        }
        .info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 20px;

          .left-side {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 0.5rem;
            & :first-child {
              color: #ff8139;
              font-size: 0.7rem;
            }
            & :nth-child(2) {
              font-size: 1.2rem;
            }
            & :last-child {
              color: #777777;
            }
          }
        }
        .right-side {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          gap: 0.5rem;
          & :first-child {
            color: #777777;
            font-size: 0.7rem;
          }
          & :nth-child(2) {
            font-size: 1.2rem;
          }
          & :last-child {
            color: #777777;
          }
          .eth {
            display: flex;
            align-items: center;
            &::before {
              content: url(assets/eth.svg);
              padding-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  .sign-up-2 {
    width: 26.75rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-image: url(assets/upsell-footer-image.svg);
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: 17rem 9.375rem;
    .line {
      display: flex;
      justify-content: flex-start;
      height: 2px;
      width: 428px;
      text-align: left;
      background-color: #777777;
      opacity: 0.2;
    }
    h6 {
      color: $color-h6;
      font-size: 1rem;
      letter-spacing: 0.0938rem;
      font-weight: bolder;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 3rem;
    }
    h1 {
      font-size: 2.8rem;
      font-weight: bolder;
      font-size: 42px;
      padding: $regular-padding-bottom-mobile 0;
      color: $color-primary-text;
      padding-right: 9.625rem;
      padding-left: 2rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.5;
      color: $color-secondary-text;
      padding-bottom: $regular-padding-bottom-mobile;
      padding-right: 12rem;
      padding-left: 2rem;
    }
    .sign-button {
      margin-left: 2rem;
      width: 11.4rem;
      height: 4.5rem;
      border-radius: 40px;
      background: white;
      position: relative;
      padding-bottom: 8rem;
      &:before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 555;
        border-radius: inherit;
        background: linear-gradient(
          45deg,
          rgb(194, 28, 209),
          red,
          orange,
          rgb(197, 178, 69)
        );
      }
      button {
        position: absolute;
        width: 10.9rem;
        height: 4rem;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 666;
        border-radius: inherit;
        background: white;
        border: none;
        margin: 4px;
        font-size: larger;
        text-align: center;
        vertical-align: center;
        font-weight: 500px;
      }
    }
  }
}
